node_modules/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# runtime
*.log

# Android
android/.gradle/
android/.idea/
android/local.properties
android/app/google-services.json
android/app/build/
android/build/

# OS/editor
.DS_Store
Thumbs.db
